:root {
  --cor-primaria: #424953;
  --cor-secundaria: #2d2d2b;
  --cor-fundo: #ffffff;
  --cor-texto: #000000;
  --cor-texto-claro: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.home-container {
  background: url(img/home/background.jpg) no-repeat center center / cover;
  position: relative;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.home-img {
  width: 130px;
  border: 5px solid var(--cor-fundo);
  padding: 3px;
}

.home-name,
.home-profession {
  color: var(--cor-texto-claro);
  position: relative;
  z-index: 1;
}

.home-item-img {
  filter: brightness(0) invert(1);
  height: 25px;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Tema escuro */
.dark-mode {
  --cor-primaria: #979a9e;
  --cor-secundaria: #c2c0c0;
  --cor-fundo: #262c36;
  --cor-texto: #ffffff;
  --cor-texto-claro: #262c36;
}

.dark-mode .home-container::before {
  background: rgba(255, 255, 255, 0.3);
}

.dark-mode .home-item-img {
  filter: brightness(0) invert(0);
}

@media (max-width: 768px) {
  .home-container {
    padding: 2rem;
  }
}

#back-to-top {
    transition: opacity 0.3s, visibility 0.3s;
}

#back-to-top:hover {
    background-color: #3b82f6; /* Cor mais clara ao passar o mouse */
}

@media (max-width: 640px) {
    #back-to-top {
        bottom: 1rem;
        right: 1rem;
    }
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skill-icon:hover {
    transform: scale(1.1);
}

.skill-icon img {
    transition: transform 0.3s ease;
}

.skill-icon:hover img {
    transform: scale(1.2);
}
