@import url("../../shared/styles/colors.css");

.titles {
    text-align: center;
    padding: 10px;
    border-top: 10px;
    margin-top: 50px;
    margin: 3em 0em 0em 0em;
}

/*Dimensionamento - Padrão*/
@media (width >= 1281px) and (orientation: landscape) {
    .badges {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin: 6% 15% 0 15%;
    }
}

/* Dimensionamento Responsivo - Mobile */
@media (width <=1280px) {
    .badges {
        display: grid;
        grid: repeat(2, 60px) / auto-flow;
        margin: 6% 15% 0 15%;
        text-align: center;
        align-items: center;
    }
}