@import url("../../shared/styles/colors.css");

.rodape {
    font-weight: bold;
}

footer p {
    font-family: Barlow, sans-serif;
    font-size: 0.9em;
    color: var(--color-text);
}
 
footer {
    background: var(--color-primary);
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 8vh;
    margin-top: 20vh;
}